@model IEnumerable<OMCS.DAL.Model.MedicalProfileTemplate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsDefault)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalProfileType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsDefault)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalProfileType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicalProfileTemplateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MedicalProfileTemplateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicalProfileTemplateId })
        </td>
    </tr>
}

</table>
