@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var medical = ViewBag.medicalProfiles;
    var patient = ViewBag.patient;
}
<script type="text/javascript">
    $(function () {
        var detailsInJson = @Html.Raw(ViewBag.detailsInJson);
        $("#medical-profile").html(_.template($("#medical-profile-template").html(), {snippetList: detailsInJson}));
    });
</script>
<div align="center">
    <h2>
        @medical.MedicalProfileTemplate.MedicalProfileTemplateName
    </h2>
</div>
<div class="modal-header">
    <a class="btn btn-primary" style="position: fixed;top: 0;right: 0;" href="@Url.Action("UpdateMedicalProfile", "AdminMedicalProfile", new { id = @patient.UserId, medicalProfileTemplateId = @medical.MedicalProfileTemplate.MedicalProfileTemplateId })" target="_blank" title="Cập nhật hồ sơ bệnh án"><i class="glyphicon glyphicon-pencil"></i></a>
</div>

<div class="form-horizontal" id="medical-profile">
</div>

<script id="medical-profile-template" type="text/template">
    <% _.each(snippetList, function(snippet) { %>
        <% if (snippet.parentId == 0 && snippet.numofrows == undefined) { %>
            <% if (snippet.value == null) { %>
              <fieldset>
                  <div>
                      <legend><%= snippet.name %></legend>
                  </div>
                  <% } else { %>
                <div class="form-group">
                    <label class="col-md-4 control-label"><%= snippet.name %></label>
                    <div class="col-md-8 form-control-static">
                        <%= snippet.value %>
                    </div>
                </div>
              </fieldset>
    <% } %>
       <% } %>   
       <% if (snippet.numofrows != undefined) { 
            var childList = _.filter(snippetList, function(element) { return element.parentId == snippet.id});
       %>
            <%= _.template($("#table-template").html(), {snippet: snippet, snippetList: childList}) %>
       <% } %>
    <% }); %>
</script>

<script id="table-template" type="text/template">
    <h4><%= snippet.name %>
    </h4>
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <% _.each(snippetList, function(snippet, i){ %>
            <th><%= snippet.columns %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < snippet.numofrows; i++) { %>
            <tr>
                <% snippet.positionInTable %>
                <% _.each(snippetList, function(snippet, j) { %>
                    <td><%= snippet.value %>
                    </td>
                <% }); %>
            </tr>
            <% } %>
        </tbody>
    </table>
</script>

