@model IEnumerable<OMCS.DAL.Model.Allergy>
@using OMCS.Web

<a id="newAllergyBtn" class="btn btn-sm btn-primary" data-original-title="Thêm dị ứng" style="position: absolute;right: 15px;margin-top: -57px;" data-toggle="tooltip"><i class="glyphicon glyphicon-plus"></i></a>

<table class="table table-striped table-hover">
    <tr>
        <th>
            Loại dị ứng
        </th>
        <th>
            Tên
        </th>
        <th>
            Ngày bị dị ứng gần nhất
        </th>
        <th>
            Phản ứng
        </th>
        <th>
            Ghi chú
        </th>
        <th>
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.AllergyType.Name
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.DateLastOccurred.ToShortDateString()
        </td>
        <td>
           @item.Reaction 
        </td>
        <td>
           @item.Note
        </td>
        <td>
            <a class="edit-btn btn btn-sm btn-warning" data-id="@item.AllergyId" data-original-title="Thay đổi" data-toggle="tooltip"><i class="glyphicon glyphicon-edit"></i></a>
            <a class="delete-btn btn btn-sm btn-danger" data-id="@item.AllergyId" data-original-title="Xóa" data-toggle="tooltip"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
}
</table>