@model OMCS.DAL.Model.User
@using OMCS.Web


@using (Ajax.BeginForm("ChangePassword", "DoctorInformation", null, new { EncType = "multipart/form-data", id = "edit-form" }))
{
    <div class="modal-dialog modal-lg" style="width: 600px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Cập Nhật</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        @Model.LastName
                        @Model.FirstName
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-lg-12">
                                <div class="tabbable tabs-left">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="basicInfo">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        @Html.HiddenFor(model => model.Email)
                                                        @Html.HiddenFor(model => model.UserId)
                                                        @Html.HiddenFor(model => model.CreatedDate)
                                                        @Html.HiddenFor(model => model.Birthday)
                                                        @Html.HiddenFor(model => model.Email)
                                                        @Html.HiddenFor(model => model.Password)
                                                        @Html.HiddenFor(model => model.Phone)
                                                        @Html.HiddenFor(model => model.Gender)
                                                        @Html.HiddenFor(model => model.LastName)
                                                        @Html.HiddenFor(model => model.FirstName)
                                                        @Html.HiddenFor(model => model.PrimaryAddress)
                                                        @Html.HiddenFor(model => model.SecondaryAddress)
                                                        @Html.HiddenFor(model => model.ProfilePicture)
                                                        @Html.HiddenFor(model => model.Password, new {id = "OldPassword", @Name="OldPassword" })                                                        
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Password)</td>
                                                            <td>
                                                                <input type="password" id="OldRePassword" name="OldRePassword" class="form-control required" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mật khẩu mới</td>
                                                            <td>
                                                                <input type="password" id="NewPassword" name="NewPassword" class="form-control required" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Xác nhận mật khẩu</td>
                                                            <td>
                                                                <input type="password" id="RePassword" name="RePassword" class="form-control required" /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;Bỏ Qua
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-save"></i>&nbsp;Thay đổi mật khẩu
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#edit-form").validate({
            rules: {
                OldRePassword: {
                    equalTo: "#OldPassword"
                },
                NewPassword: {
                    rangelength: [6, 32]
                },
                RePassword: {
                    rangelength: [6, 32],
                    equalTo: "#NewPassword"
                }
            },
            messages: {
                RePassword: {
                    equalTo: "Xác nhận mật khẩu không trùng khớp."
                },
                OldRePassword: {
                    equalTo: "Mật khẩu không hợp lệ."
                }
            }
        });
    });
</script>
