<!DOCTYPE html>
<html>
<head>
    @using OMCS.Web
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trang quản trị hệ thống</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootply-admin.css" rel="stylesheet" type="text/css" />
	     <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.9.0.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/site.js"></script>
</head>
<body>
    <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Quản lý Admin</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="#">My Profile</a></li>
          </ul>
        </li>
        <li><a href="Account/Logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">
<div class="row">
	<div class="col-md-3">
      <!-- Left column -->

      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>
        <li><a href="#"><i class="glyphicon glyphicon-home"></i> Thông tin bệnh viện</a></li>
        <li class="@Html.IsActive("AdminUser", "Index")">
            <a href="@Url.Action("Index", "AdminUser")"><i class="glyphicon glyphicon-user"></i> Quản lý người dùng</a>
        </li>
          <li class="@Html.IsActive("AdminDoctor", "Index")">
              <a href="@Url.Action("Index", "AdminDoctor")"><i class="glyphicon glyphicon-user"></i> Quản lý bác sĩ</a>
          </li>
        <li class="@Html.IsActive("AdminSpecialtyField", "Index")">
            <a href="@Url.Action("Index", "AdminSpecialtyField")"><i class="glyphicon glyphicon-list"></i> Quản lý Chuyên Khoa</a>
        </li>
        <li class="@Html.IsActive("AdminTemplate", "Index")">
            <a href="@Url.Action("Index", "AdminTemplate")"><i class="glyphicon glyphicon-list-alt"></i> Mẫu hồ sơ</a>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i> Danh mục bệnh</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-book"></i> Thống kê</a></li>
      </ul>
      
      <hr>
      <ul class="nav nav-stacked">
        <li class="active"><a href="http://bootply.com" title="The Bootstrap Playground" target="ext">Playground</a></li>
        <li><a href="/tagged/bootstrap-3">Bootstrap 3</a></li>
        <li><a href="/61518" title="Bootstrap 3 Panel">Panels</a></li>
        <li><a href="/61521" title="Bootstrap 3 Icons">Glyphicons</a></li>
        <li><a href="/61523" title="Bootstrap 3 ListGroup">List Groups</a></li>
        <li><a href="#">GitHub</a></li>
        <li><a href="/61518" title="Bootstrap 3 Slider">Carousel</a></li>
        <li><a href="/62603">Layout</a></li>
      </ul>

      <hr>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	@RenderBody()
  	</div><!--/col-span-9-->
</div>
</div>
<!-- /Main -->

<footer class="text-center">Copyright Group 2 - FPT University - 2014</footer>

<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->
    <script type='text/javascript'>

        $(document).ready(function () {

            $(".alert").addClass("in").fadeOut(4500);

            /* swap open/close side menu icons */
            $('[data-toggle=collapse]').click(function () {
                // toggle icon
                $(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
            });

        });

    </script>
</body>
</html>