@model OMCS.DAL.Model.DiseaseHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DiseaseHistory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Patient.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Patient.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Doctor.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Doctor.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiseaseType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiseaseType.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OnSetDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OnSetDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DiseaseHistoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
