@model PagedList.IPagedList<OMCS.DAL.Model.Comment>

@using PagedList.Mvc;

@{
    Layout = null;
}


<style>
    blockquote footer {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: #fff;
        color: #756e6e;
    }
    blockquote footer cite {
        color: #aea5a5;
    }
</style>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-9">
            <blockquote>
                <p>@item.Content</p>
                <footer>Su Tran <cite title="Source Title">@item.PostedDate.ToShortDateString()</cite></footer>
            </blockquote>
        </div>
        <div class="col-md-2">
            <img src="~/Content/ProfilePicture/Su.JPG" class="img-circle img-responsive" style="max-height: 60px;"/>
        </div>
    </div>
}
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page}))