@model PagedList.IPagedList<OMCS.DAL.Model.Comment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";  
}

<h2>Quản Lý Bình luận</h2>

<div>
    @using (Html.BeginForm("Index", "AdminComment", FormMethod.Get, new { style = "float: right", @class = "form-inline" }))
    {
        <div class="form-group">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        </div>
        <input type="submit" value="Tìm Kiếm" class="btn btn-primary" />
    }
</div>

<table class="table table-striped table-hover">
    <tr class="active">
        <th>
            @Html.ActionLink("Bệnh nhân bình luận", "Index", new { sortOrder = ViewBag.PatientNameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nội dung", "Index", new { sortOrder = ViewBag.ContentSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Bác sĩ", "Index", new { sortOrder = ViewBag.DoctorNameSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Ngày bình luận", "Index", new { sortOrder = ViewBag.DateSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>Thao Tác
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>
                @item.PostedDate
            </td>
            <td>               
                <button class="btn btn-danger delete-button" data-id="@item.CommentId" title="Xóa"><i class="glyphicon glyphicon-remove"></i></button>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<div class="modal fade in" id="delete-model">
    <div id="delete-container"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("form").validate({
            rules: {
                Name: {
                    maxlength: 4
                }
            }
        })

        $(".delete-button").click(function () {
            var url = "/AdminComment/Delete";
            var id = $(this).attr("data-id");
            $.get(url + "/" + id, function (data) {
                $("#delete-container").html(data);
                $("#delete-model").modal("show");
            });
        });
    });
</script>
