@model OMCS.DAL.Model.User

@{
    Layout = null;
}

<style>
    .img-rounded
    {
        height: 149px;
        width: 149px;
    }
</style>


<table class="table table-data table-bordered table-striped" style="clear: both">
    <tbody>
        <tr>
            <td rowspan="4" style="width: 150px;">
                <img src="~/Content/ProfilePicture/@Model.ProfilePicture" class="img-rounded" />
            </td>
            <td>Họ và tên</td>
            <td>@Model.FullName</td>
        </tr>
        <tr>
            <td>Ngày sinh</td>
            <td>@Model.Birthday.Value.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Chuyên ngành</td>
            <td>@ViewBag.SpecialtyField.Name</td>
        </tr>
        <tr>
            <td>Đánh giá</td>
            @if (ViewBag.Doctor.Votes == 0)
            {
                <td>Chưa đánh giá</td>
            }
            else
            {
                <td>@ViewBag.Doctor.Rating / 5 &nbsp;Điểm
                &nbsp;(@ViewBag.Doctor.Votes Lượt đánh giá)
                </td>
            }
        </tr>
    </tbody>
</table>




