@model PagedList.IPagedList<OMCS.DAL.Model.Comment>

@using PagedList.Mvc;

@{
    Layout = null;
}

<style>
    .post-list
    {
        padding-left: 0px;
    }

    .post
    {
        height: 50px;
        margin-bottom: 25px;
    }

    .avatar
    {
        float: left;
        display: block;
        margin-right: 12px;
    }

        .avatar img
        {
            display: block;
            width: 48px;
            height: 48px;
        }

    .post-body
    {
        float: left;
        width: 500px;
        padding-right: 30px;
    }

    .post-byline
    {
        line-height: 1;
        display: block;
        position: relative;
        height: 15px;
    }

    .author
    {
        float: left;
        color: #428BCA;
        font-weight: 700;
        font-size: 13px;
    }

    .posted-date
    {
        float: left;
        font-size: 13px;
        color: #777;
        display: inline-block;
        margin-left: 8px;
    }

    .post-content
    {
        display: block;
        height: 33px;
        font-size: 15px;
        width: 600px;
    }

        .post-content p
        {
            width: 600px;
            word-wrap: break-word;
            word-break: break-all;
        }
</style>

<div id="post-list" class="post-list">

    @foreach (var item in Model)
    {
        <div class="post" id="">
            <div data-role="post-content" class="post-content">
                <div class="avatar">
                    <a href="#">
                        <img src="~/Content/ProfilePicture/Su.JPG" class="img-circle" />
                    </a>
                </div>

                <div class="post-body">
                    <div class="post-byline">
                        <span class="author">Sứ trần
                        </span>
                        <span class="posted-date">
                            @item.PostedDate.ToShortDateString()
                        </span>
                    </div>

                    <div class="post-content">
                        <p>
                            @item.Content
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))

</div>
