@model PagedList.IPagedList<OMCS.DAL.Model.Comment>

@using PagedList.Mvc;

@{
    Layout = null;
}


<div id="post-list" class="post-list">

    @foreach (var item in Model)
    {
        <div class="post" id="">
            <div data-role="post-content" class="post-content">
                <div class="avatar">
                    <a href="#">
                        <img src="~/Content/ProfilePicture/Su.JPG" class="img-circle" />
                    </a>
                </div>

                <div class="post-body">
                    <div class="post-byline">
                        <span class="author">Sứ trần
                        </span>
                        <span class="posted-date">
                            @item.PostedDate.ToShortDateString()
                        </span>
                    </div>

                    <div class="post-content">
                        <p>
                            @item.Content
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page}))

</div>