@model IEnumerable<OMCS.DAL.Model.Comment>

@{
    ViewBag.Title = "Evaluate";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@*@Scripts.Render("~/bundles/jsOMCS")
<script src="~/Scripts/jquery.easing.1.3.js"></script>

@Styles.Render("~/bundles/cssOMCS")*@

<div class="row">
    <div class="col-xs-4" style="float: right">
        <label class="switch-light progress progress-striped active" onclick="">
            <input type="checkbox" id="enable">
            <span>Thay đổi
                <span aria-label="Tắt" title="Tắt">O</span>
                <span aria-label="Bật" title="Bật">I</span>
            </span>
            <a class="progress-bar progress-bar-success"></a>
        </label>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-4" style="float: right; display: none;" id="autoopendiv">
        <label class="switch-light progress progress-striped active" onclick="">
            <input type="checkbox" id="autoopen">
            <span>Liên tiếp
                <span aria-label="Tắt" title="Tắt">O</span>
                <span aria-label="Bật" title="Bật">I</span>
            </span>
            <a class="progress-bar progress-bar-success"></a>
        </label>
    </div>
</div>

<fieldset>
    <legend>Thông tin bác sĩ</legend>
</fieldset>

@{Html.RenderAction("Details", "Comment");}

<fieldset>
    <legend>Đánh giá</legend>
</fieldset>

@using (Html.BeginForm("Rate", "Comment", FormMethod.Post))
{
    List<double> ratingList = new List<double> { 0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5 };
    
    <input type="hidden" id="" name="PatientId" value="@ViewBag.PatientId" />
    <input type="hidden" id="" name="DoctorId" value="@ViewBag.DoctorId" />
    @Html.DropDownList("Rating", new SelectList(ratingList))
    <input type="submit" id="btnRate" value="Đánh Giá" />
}

<fieldset>
    <legend>Bình luận</legend>
</fieldset>

<style>
    .post-comment
    {
        width: 100%;
        margin-bottom: 25px;
        height: 50px;
    }

    .post-avatar
    {
        display: block;
        margin-right: 12px;
        float: left;
    }

        .post-avatar img
        {
            width: 48px;
            height: 48px;
        }

    .post-message
    {
        width: 800px;
        float: left;
    }

    .post-button
    {
        float: left;
        margin-left: 10px;
    }
</style>

<div class="post-comment">
    <div class="post-avatar">
        <img src="~/Content/ProfilePicture/Su.JPG" class="img-circle" />
    </div>

    @using (Html.BeginForm("Post", "Comment", FormMethod.Post))
    {
        <div class="post-message">
            <div class="form-group">
                <input type="hidden" id="PatientId" name="PatientId" value="@ViewBag.PatientId" />
                <input type="hidden" id="DoctorId" name="DoctorId" value="@ViewBag.DoctorId" />
                <textarea id="Content" name="Content" class="form-control"></textarea>
            </div>
        </div>
        
        <div class="post-button">
            <input type="submit" id="btnPost" value="Gửi" class="btn btn-primary" />
        </div>
    }


</div>

@*@Html.Partial("_Index", Model)
@{Html.RenderPartial("_Index", Model);}*@
@{Html.RenderAction("Index", "Comment", new { id = ViewBag.DoctorId });}


<script type="text/javascript">
    @*$("#btnPost").click(function () {
        var content = $("#Content").val();
        var patientId = $("#PatientId").val();
        $.ajax({
            url: "Comment/Post",
            type: "POST",
            data: {
                content: content,
                patientId: '@ViewBag.PatientId',
                doctorId: 2
            },
            async: false,
            success: function (data) {
                //console.log(data);
                alert(data);
                if (data == true) {
                    $.post("/Comment/Index", { "id": 2 },
                                function (datah) {
                                    $("#index_load").html(datah);
                                });
                }
                if (data == false) {
                    alert("ko post dc");
                }
            }
        })
    })*@
</script>

