@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@model Security.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-xs-12 col-sm-12 col-md-4 well well-sm">
        <h4>Đăng nhập</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-xs-4 col-md-4">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="col-xs-8 col-md-8">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            </div>
            <div class="col-xs-12 col-md-12">
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-4">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="col-xs-8 col-md-8">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
            </div>
            <div class="col-xs-12 col-md-12">
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-4">
                @Html.LabelFor(model => model.RememberMe)
            </div>
            <div class="col-xs-8 col-md-8">
                @Html.EditorFor(model => model.RememberMe)
            </div>
            <div class="col-xs-12 col-md-12">
                @Html.ValidationMessageFor(model => model.RememberMe)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}


