@{
    Layout = null;
}

@model Security.Models.LoginViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OMCS - Hồ sơ bệnh án trực tuyến, tư vấn trực tuyến</title>

    @Scripts.Render("~/bundles/jsOMCS")
    <script src="~/Scripts/jquery.easing.1.3.js"></script>

    @Styles.Render("~/bundles/cssOMCS")

    <!-- Custom Theme CSS -->
    <link href="~/Content/sign-in-full-page/sign-in.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pr-wrap">
                    <div class="pass-reset">
                        <label>
                            Nhập địa chỉ email mà bạn dùng để đăng kí</label>
                        <input type="email" placeholder="Email" />
                        <input type="submit" value="Gửi" class="pass-reset-submit btn btn-success btn-sm" />
                    </div>
                </div>
                <div class="wrap">
                    <p class="form-title">
                        Đăng nhập
                    </p>
                    <form class="login" action="@Url.Action("Login", "Account")" method="post">
                        <input type="text" placeholder="Tên đăng nhập" name="Username" required />
                        <input type="password" placeholder="Mật khẩu" name="Password" required />

                        @if (ViewData.ModelState[""] != null)
                        {
                            <div class="has-error" style="background: #eee;">
                                @foreach (var error in ViewData.ModelState[""].Errors)
                                {
                                    <span class="help-block">@error.ErrorMessage</span>
                                }
                            </div>
                        }
                        <input type="submit" value="Đăng nhập" class="btn btn-success btn-sm" />
                        <div class="remember-forgot">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="RememberMe" />
                                            Duy trì đăng nhập
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 forgot-pass-content">
                                    <a href="#forgot-pass" class="forgot-password">Quên mật khẩu</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="posted-by">Group 2 - FPT University</div>
    </div>

    <script src="~/Content/sign-in-full-page/sign-in.js"></script>


    <div class="modal fade in" id="forgot-model">
        <div id="forgot-container"></div>
    </div>

    <script>
        $(document).ready(function () {
            //jQuery event click for link
            $(".forgot-password").click(function () {
                var url = "/Account/ForgotPassword";
                $.get(url, function (data) {
                    $("#forgot-container").html(data);
                    $("#forgot-model").modal("show");
                    $("#forgot-form").css("background-image", "none");
                });
            });
        });
    </script>
</body>

</html>
@*using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-xs-12 col-sm-12 col-md-4 well well-sm">
        <h4>Đăng nhập</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="col-xs-4 col-md-4">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="col-xs-8 col-md-8">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
            </div>
            <div class="col-xs-12 col-md-12">
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-4">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="col-xs-8 col-md-8">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password"})
            </div>
            <div class="col-xs-12 col-md-12">
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-md-4">
                @Html.LabelFor(model => model.RememberMe)
            </div>
            <div class="col-xs-8 col-md-8">
                @Html.EditorFor(model => model.RememberMe)
            </div>
            <div class="col-xs-12 col-md-12">
                @Html.ValidationMessageFor(model => model.RememberMe)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@