@model OMCS.DAL.Model.User

@using Recaptcha.Web.Mvc

@{
    Layout = null;
}

@Scripts.Render("~/bundles/jsOMCS")
<script src="~/Scripts/jquery.easing.1.3.js"></script>

@Styles.Render("~/bundles/cssOMCS")

<!-- Custom theme css-->
<link href="~/Content/register-full-page/css/register.css" rel="stylesheet" />

<style>

</style>




<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">

            <form action="/Account/Register" method="post" class="well well-sm form" role="form" id="register-form">
                <legend class="form-title">
                    <a href="#"><i class="glyphicon glyphicon-globe"></i></a>&nbsp;ĐĂNG KÝ
                </legend>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control required", placeholder = "Tên đăng nhập" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control required", placeholder = "Họ" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control required", placeholder = "Tên" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control required email", placeholder = "Địa chỉ Email" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control required", placeholder = "Mật khẩu", type = "password" })
                </div>

                <div class="form-group">
                    @Html.TextBox("RePassword", "", new { @class = "form-control required", placeholder = "Xác nhận mật khẩu", type = "password", id = "RePassword" })
                </div>

                @Html.Recaptcha()
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <br />

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Đăng kí</button>
            </form>
        </div>
    </div>

    <div class="posted-by">Group 2 - FPT University</div>
</div>


<script type="text/javascript">

    $("#register-form").validate({
        rules: {
            Username: {
                remote: {
                    url: "@Url.Action("CheckExistUsername", "AdminUser")",
                    timeout: 5000,
                    type: "POST"
                },
                maxlength: 50
            },
            Email: {
                remote: {
                    url: "@Url.Action("CheckExistEmail", "AdminUser")",
                    timeout: 5000,
                    type: "POST"
                },
                maxlength: 50
            },
            FirstName: {
                maxlength: 50
            },
            LastName: {
                maxlength: 50
            },
            Password: {
                rangelength: [6, 32]
            },
            RePassword: {
                rangelength: [6, 32],
                equalTo: "#Password"
            }
        },
        messages: {
            Username: {
                remote: "Tên đăng nhập đã được đăng ký."
            },
            Email: {
                remote: "Địa chỉ email đã được đăng ký."
            },
            RePassword: {
                equalTo: "Xác nhận mật khẩu không trùng khớp."
            }
        }
    });
</script>
