@model OMCS.DAL.Model.User
@using Recaptcha.Web.Mvc

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Đăng Ký</h4>
        </div>

        @using (Ajax.BeginForm("Register", "Account", FormMethod.Post,
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = ""
                    },
                    new { id = "register-form" }))
        {
          
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control required", placeholder = "Tên đăng nhập" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control required", placeholder = "Tên" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control required", placeholder = "Họ" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control required email", placeholder = "Địa chỉ Email" })
                </div>

                <div class="form-group">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control required", placeholder = "Mật khẩu", type = "password" })
                </div>

                <div class="form-group">
                    @Html.TextBox("RePassword", "", new { @class = "form-control required", placeholder = "Nhập lại mật khẩu", type = "password" })
                </div>


            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Đăng Ký</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Bỏ Qua</button>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#register-form").validate({
            rules: {
                Username: {
                    remote: {
                        url: "@Url.Action("CheckExistUsername", "AdminUser")",
                        timeout: 5000,
                        type: "POST"
                    },
                    maxlength: 50
                },
                Email: {
                    remote: {
                        url: "@Url.Action("CheckExistEmail", "AdminUser")",
                        timeout: 5000,
                        type: "POST"
                    },
                    maxlength: 50
                },
                FirstName: {
                    maxlength: 50
                },
                LastName: {
                    maxlength: 50
                },
                Password: {
                    rangelength: [6, 32]
                },
                RePassword: {
                    rangelength: [6, 32]
                }
            },
            messages: {
                Username: {
                    remote: "Tên đăng nhập đã tồn tại."
                },
                Email: {
                    remote: "Địa chỉ email đã tồn tại"
                }
            }
        });
    });
</script>
