@model OMCS.Web.DTO.PatientInformation
@using OMCS.Web
<meta charset="utf-8" />
@using (Ajax.BeginForm("EditPatient", "DoctorUser", null, new { EncType = "multipart/form-data", id = "edit-form" }))
{
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Chi tiết bệnh nhân</h4>
            </div>

            <div class="modal-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3" align="center">
                                <form runat="server">
                                    <img alt="User Pic" id="targetImg" src="@Html.GetPictureUrl("Profile")@Model.Patient.ProfilePicture" class="img-circle" style="width:120px; height:120px">
                                    <input type="file" name="file" id="imgInp" class="form-control" value="@Html.GetPictureUrl("Profile")@Model.Patient.ProfilePicture" />
                                </form>
                                <br />
                                <input type="hidden" name="profile" value="@Html.DisplayFor(model => model.Patient.ProfilePicture)" />
                                <div class="tabbable tabs-left">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#basicInfo" data-toggle="tab">Thông tin cơ bản</a></li>
                                        <li><a href="#patientInfo" data-toggle="tab">Thông tin bệnh nhân</a></li>
                                        <li><a href="#contactPerson" data-toggle="tab">Thông tin người liên lạc</a></li>
                                        <li><a href="#healthRecord" data-toggle="tab">Sức khỏe cá nhân</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class=" col-md-9 col-lg-9">
                                <div class="tabbable tabs-left">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="basicInfo">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        @Html.HiddenFor(model => model.Patient.Email)
                                                        @Html.HiddenFor(model => model.Patient.UserId)
                                                        @Html.HiddenFor(model => model.Patient.CreatedDate)
                                                        @Html.HiddenFor(model => model.Patient.Birthday)
                                                        @Html.HiddenFor(model => model.Patient.Email)
                                                        @Html.HiddenFor(model => model.Patient.Password)
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.LastName) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" id="LastName" name="LastName" value="@Html.DisplayFor(model => model.Patient.LastName)"  class = "form-control required" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.FirstName) <span style="color: red;">(*)</span></td>
                                                            <td>                                                               
                                                                @Html.TextBoxFor(model => model.Patient.FirstName, new { @class = "form-control required", @Name = "Firstname" })
                                                            </td>
                                                        </tr>                                                        
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.Gender)</td>
                                                            <td>@Html.DropDownListFor(model => model.Patient.Gender, new SelectList(new List<string> { "Nam", "Nữ" }), new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.Phone)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.Phone, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.PrimaryAddress)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.PrimaryAddress, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.SecondaryAddress)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.SecondaryAddress, new { @class = "form-control" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="patientInfo">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        @Html.HiddenFor(model => model.Patient.UserId)
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.Nationality)</td>
                                                            <td>
                                                                <select id="Nationality" class="dropdownclass form-control" name="Nationality">
                                                                    <option value="@Html.DisplayFor(model => model.Patient.Nationality)">@Html.DisplayFor(model => model.Patient.Nationality)</option>
                                                                    <option value="Việt Nam">Việt Nam</option>
                                                                    <option value="Thái Lan">Thái Lan</option>
                                                                    <option value="Hoa Kì">Hoa Kì</option>
                                                                    <option value="Trung Quốc">Trung Quốc</option>
                                                                    <option value="Ấn Độ">Ấn Độ</option>
                                                                    <option value="Các nước khác">Các nước khác</option>
                                                                </select></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.Ethnicity)</td>
                                                            <td>
                                                                <select id="Ethnicity" class="dropdownclass form-control" name="Ethnicity">
                                                                    <option value="@Html.DisplayFor(model => model.Patient.Ethnicity)">@Html.DisplayFor(model => model.Patient.Ethnicity)</option>
                                                                    <option value="Kinh">Kinh</option>
                                                                    <option value=""></option>
                                                                    <option value="Ba na">Ba na</option>
                                                                    <option value="Bố Y">Bố Y</option>
                                                                    <option value="Brâu">Brâu</option>
                                                                    <option value="Bru - Vân Kiều">Bru - Vân Kiều</option>
                                                                    <option value="Chơ Ro">Chơ Ro</option>
                                                                    <option value="Chứt">Chứt</option>
                                                                    <option value="Chăm">Chăm</option>
                                                                    <option value="Co">Co</option>
                                                                    <option value="Cống">Cống</option>
                                                                    <option value="Cơ Ho">Cơ Ho</option>
                                                                    <option value="Cơ Lao">Cơ Lao</option>
                                                                    <option value="Cơ Tu">Cơ Tu</option>
                                                                    <option value="Chu ru">Chu ru</option>
                                                                    <option value="Dao">Dao</option>
                                                                    <option value="Ê Đê">Ê Đê</option>
                                                                    <option value="Gia Lai">Gia Lai</option>
                                                                    <option value="Gié - Triêng">Gié - Triêng</option>
                                                                    <option value="H'Mông">H'Mông</option>
                                                                    <option value="Giáy">Giáy</option>
                                                                    <option value="Hà Nhì">Hà Nhì</option>
                                                                    <option value="Hrê">Hrê</option>
                                                                    <option value="Hoa">Hoa</option>
                                                                    <option value="Kháng">Kháng</option>
                                                                    <option value="Khơ me">Khơ me</option>
                                                                    <option value="Khơ Mú">Khơ Mú</option>
                                                                    <option value="La Chí">La Chí</option>
                                                                    <option value="La Ha">La Ha</option>
                                                                    <option value="La Hủ">La Hủ</option>
                                                                    <option value="Lào">Lào</option>
                                                                    <option value="Lô Lô">Lô Lô</option>
                                                                    <option value="Lự">Lự</option>
                                                                    <option value="M'Nông">M'Nông</option>
                                                                    <option value="Mạ">Mạ</option>
                                                                    <option value="Mảng">Mảng</option>
                                                                    <option value="Mường">Mường</option>
                                                                    <option value="Ngái">Ngái</option>
                                                                    <option value="Nùng">Nùng</option>
                                                                    <option value="Ô đu">Ô đu</option>
                                                                    <option value="Pà Thẻn">Pà Thẻn</option>
                                                                    <option value="Phù Lá">Phù Lá</option>
                                                                    <option value="Pu Péo">Pu Péo</option>
                                                                    <option value="Ra Glai">Ra Glai</option>
                                                                    <option value="Rơ Măm">Rơ Măm</option>
                                                                    <option value="Sán Chay">Sán Chay</option>
                                                                    <option value="Sán Dìu">Sán Dìu</option>
                                                                    <option value="Si La">Si La</option>
                                                                    <option value="Tà Ôi">Tà Ôi</option>
                                                                    <option value="Tày">Tày</option>
                                                                    <option value="Thái">Thái</option>
                                                                    <option value="Thổ">Thổ</option>
                                                                    <option value="Xinh Mun">Xinh Mun</option>
                                                                    <option value="Xtiêng">Xtiêng</option>
                                                                    <option value="Xơ Đăng">Xơ Đăng</option>
                                                                </select></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.Job)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.Job, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.WhereToWork)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.WhereToWork, new { @class = "form-control" })</td>
                                                        </tr>                                                       
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.HealthInsuranceId)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.HealthInsuranceId, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.HealthInsuranceIssued)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.HealthInsuranceIssued, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Patient.HealthInsuranceDateExpired)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.HealthInsuranceDateExpired, new { @class = "form-control" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="contactPerson">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.ContactPerson)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.ContactPerson, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.ContactPersonAddress)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.ContactPersonAddress, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.ContactPersonPhone)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.ContactPersonPhone, new { @class = "form-control" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>                                                
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="healthRecord">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        <input type="hidden" value="@Html.DisplayFor(model => model.PersonalHealthRecord.PatientId)" class="form-control" name="patientid" />
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.Height) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.Height)" class="form-control required number double" name="height" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.Weight) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.Weight)" class="form-control required number double" name="weight" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.EyeColor)</td>
                                                            <td>@Html.TextBoxFor(model => model.PersonalHealthRecord.EyeColor, new { @class = "form-control", Name = "eye" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.HairColor)</td>
                                                            <td>@Html.TextBoxFor(model => model.PersonalHealthRecord.HairColor, new { @class = "form-control", Name = "hair" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.BloodType)</td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.BloodType)" class="form-control" name="blood" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.AlcoholPerWeek) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.AlcoholPerWeek)" class="form-control required number double" name="alcoholweek" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.AlcoholNumOfYear) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.AlcoholNumOfYear)" class="form-control required number double" name="alcoholyear" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.SmokePackPerWeek) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.SmokePackPerWeek)" class="form-control required number double" name="smokeweek" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.SmokeNumOfYear) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.SmokeNumOfYear)" class="form-control required number double" name="smokeyear" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.SportName)</td>
                                                            <td>@Html.TextBoxFor(model => model.PersonalHealthRecord.SportName, new { @class = "form-control", Name = "sport" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.SportPerWeek) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.SportPerWeek)" class="form-control required number double" name="sportweek" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.ExerciseType)</td>
                                                            <td>@Html.TextBoxFor(model => model.PersonalHealthRecord.ExerciseType, new { @class = "form-control", Name = "exercise" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PersonalHealthRecord.ExercisePerWeek) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" value="@Html.DisplayFor(model => model.PersonalHealthRecord.ExercisePerWeek)" class="form-control required number double" name="exerciseweek" /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="hidden" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Bỏ qua</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("#edit-form").validate({
            rules: {
                Email: {
                    maxlength: 50
                },
                FirstName: {
                    maxlength: 50
                },
                LastName: {
                    maxlength: 50
                },
                Password: {
                    rangelength: [6, 32]
                }
            },
        });
    });
</script>
