@{
    ViewBag.Title = "Cập nhật hồ sơ bệnh án";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
@section Styles{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet">
}

<script type="text/javascript">
    var formInJson = @Html.Raw(ViewBag.formInJson);
    var medicalProfileTemplateId = @(ViewBag.medicalProfileTemplateId);
    var patientId = @(ViewBag.patientId);
</script>

<div id="build">
    <form id="target" class="form-horizontal" action="@Url.Action("UpdateMedicalProfile")">
        <div class="control-group">
            <h2>@(ViewBag.medicalProfileName)</h2>
            <div class="controls">
                <button type="submit" id="saveBtn" class="btn btn-primary" style="position: absolute;top: 18px;right: 0;">Cập nhật</button>
            </div>
        </div>
        <input name="medicalProfileTemplateId" type="hidden" value="@(ViewBag.medicalProfileTemplateId)"/>
        <input name="patientId" type="hidden" value="@(ViewBag.patientId)"/>
        <fieldset>
        </fieldset>
    </form>
</div>

    <div class="row clearfix">
    </div>
<script src="~/Content/FormBuilder/js/config.js"></script>
<script data-main="../view" src="~/Content/FormBuilder/js/lib/require.js" ></script>
