<!DOCTYPE html>
<html>
<head>
    @using OMCS.Web
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trang quản lý Bác Sĩ</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootply-admin.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/jsOMCS")

    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/Scripts/holder.js"></script>
    <script src="~/signalr/hubs"></script>

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles");
    }
</head>
<body>
    <!-- Header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Doctor/Index">Bác Sĩ: @User.LastName @User.FirstName</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Account/Logout"><i class="glyphicon glyphicon-lock"></i>Đăng Xuất</a></li>
                </ul>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <!-- Left column -->

                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-header"></li>
                    <li><a href="#"><i class="glyphicon glyphicon-plus-sign"></i>Thêm bệnh nhân</a></li>
                    <li class="@Html.IsActive("DoctorUser", "Index")">
                        <a href="@Url.Action("Index", "DoctorUser")"><i class="glyphicon glyphicon-user"></i>Quản lý bệnh nhân</a>
                    </li>
                    <li class="@Html.IsActive("DoctorMedicalProfile", "Index")">
                        <a href="@Url.Action("Index", "DoctorMedicalProfile")"><i class="glyphicon glyphicon-folder-open"></i>Quản lý bệnh án</a>
                    </li>
                    <li class="@Html.IsActive("DoctorConversation", "Index")">
                        <a href="@Url.Action("Index", "DoctorConversation")"><i class="glyphicon glyphicon-envelope"></i>Tư vấn trực tuyến    <span class="badg1e unread-message"></span></a>
                    </li>
                    <li class="@Html.IsActive("AdminTemplate", "Index")">
                        <a href="@Url.Action("Index", "AdminTemplate")"><i class="glyphicon glyphicon-list-alt"></i>Xem mẫu hồ sơ</a>
                    </li>
                </ul>

                <hr>
            </div>
            <!-- /col-3 -->
            <div class="col-md-9">
                @RenderBody()
            </div>
            <!--/col-span-9-->
        </div>
    </div>
    <!-- /Main -->

    <footer class="text-center">Copyright Group 2 - FPT University - 2014</footer>

    <input id="txtFromUsername" class="textBox" value="@User.Username" type="hidden"/>
    <input id="txtToUsername" class="textBox" value="" type="hidden" />
    <script type='text/javascript'>

        $(document).ready(function () {

            $(".alert").addClass("in").fadeOut(4500);

            /* swap open/close side menu icons */
            $('[data-toggle=collapse]').click(function () {
                // toggle icon
                $(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
            });
        });
        function registerClientMethods(chatHub) {
            chatHub.client.onConnected = function (id, doctorDetail) {
                $(".unread-message").html(doctorDetail.CountMessageUnRead);
            }

            chatHub.client.onMessageUnRead = function (doctorDetail) {
                $(".unread-message").html(doctorDetail.CountMessageUnRead);
            }
        }

    </script>
</body>
</html>
