<!DOCTYPE html>
<html>
<head>
    @using OMCS.Web
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trang quản lý Bác Sĩ</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootply-admin.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    
    @Scripts.Render("~/bundles/jsOMCS")

    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles");
    }
</head>
<body>
    <!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Quản lý Bác Sĩ</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="#">My Profile</a></li>
          </ul>
        </li>
        <li><a href="Account/Logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">

<div class="row">
	<div class="col-md-3">
      <!-- Left column -->

      <ul class="nav nav-pills nav-stacked">
        <li class="nav-header"></li>
        <li><a href="#"><i class="glyphicon glyphicon-plus-sign"></i> Thêm bệnh nhân</a></li>
        <li class="@Html.IsActive("DoctorUser", "Index")">
            <a href="@Url.Action("Index", "DoctorUser")"><i class="glyphicon glyphicon-user"></i> Quản lý bệnh nhân</a>
        </li>
        <li class="@Html.IsActive("DoctorMedicalProfile", "Index")">
            <a href="@Url.Action("Index", "DoctorMedicalProfile")"><i class="glyphicon glyphicon-folder-open"></i> Quản lý bệnh án</a>
        </li>
          <li class="@Html.IsActive("AdminDoctor", "Index")">
              <a href="@Url.Action("Index", "AdminDoctor")"><i class="glyphicon glyphicon-envelope"></i> Tin nhắn <span class="badge unread-message"></span></a>
          </li>
        <li class="@Html.IsActive("AdminTemplate", "Index")">
            <a href="@Url.Action("Index", "AdminTemplate")"><i class="glyphicon glyphicon-list-alt"></i> Xem mẫu hồ sơ</a>
        </li>
      </ul>
      
      <hr>
  	</div><!-- /col-3 -->
    <div class="col-md-9">
      	@RenderBody()
  	</div><!--/col-span-9-->
</div>
</div>
<!-- /Main -->

<footer class="text-center">Copyright Group 2 - FPT University - 2014</footer>

<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->
<input id="txtFromUsername" class="textBox" value="@User.Username" type="hidden"/>
<input id="txtToUsername" class="textBox" value="" type="hidden"/>
    <script type='text/javascript'>

        $(document).ready(function () {

            $(".alert").addClass("in").fadeOut(4500);

            /* swap open/close side menu icons */
            $('[data-toggle=collapse]').click(function () {
                // toggle icon
                $(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
            });


            // Declare a proxy to reference the hub. 
            var chatHub = $.connection.chatHub;
            registerClientMethods(chatHub);
            // Start Hub
            $.connection.hub.start().done(function () {
                var fromUser = $("#txtFromUsername").val();
                chatHub.server.connectDoctor(fromUser);
            });
        });
        function registerClientMethods(chatHub) {
            chatHub.client.sendPrivateMessageToDoctor = function (countMessage) {
                $("#countmessage").html(countMessage);
            }

            chatHub.client.onConnected = function (id, doctorDetail) {
                console.log(id);
                console.log(doctorDetail);
                $(".unread-message").html(doctorDetail.CountMessageUnRead);
            }

            chatHub.client.messageReceived = function (fromUserDetail, toUserDetail, messageDetail) {
                console.log("messageReceived");
                console.dir(fromUserDetail);
                console.dir(toUserDetail);
                $(".unread-message").html(toUserDetail.CountMessageUnRead);
            }
        }

    </script>
</body>
</html>