@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OMCS.DAL.Model.SpecialtyField

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SpecialtyField</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Parent.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parent.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SpecialtyFieldId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
