@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model OMCS.DAL.Model.SpecialtyField

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SpecialtyField</legend>

        @Html.HiddenFor(model => model.SpecialtyFieldId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ParentId, "Parent")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ParentId", String.Empty)
            @Html.ValidationMessageFor(model => model.ParentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>