@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<head>
    @using OMCS.Web
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trang quản lý Bác Sĩ</title>
    @Styles.Render("~/bundles/cssOMCS")
    <link href="~/Content/bootply-admin.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>

    @Scripts.Render("~/bundles/jsOMCS")
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Content/plupload/moxie.js"></script>
    <script type="text/javascript" src="~/Content/plupload/plupload.dev.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.flexslider.js"></script>
</head>
<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="~/Doctor/Index">Bác Sĩ: @User.LastName @User.FirstName</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="~/Account/Logout"><i class="glyphicon glyphicon-lock"></i>Đăng Xuất</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">

    <div class="row">
        <div class="col-xs-4" style="float: right">
            <label class="switch-light progress progress-striped active" onclick="">
                <input type="checkbox" id="private-consult-enable" disabled="disabled">
                <span>Tư vấn riêng
                <span aria-label="Tắt" title="Tắt">O</span>
                    <span aria-label="Bật" title="Bật">I</span>
                </span>
                <a class="progress-bar progress-bar-success"></a>
            </label>
        </div>
        <div class="col-md-12">
            <div class="row" id="chatbox">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="panel panel-default" id="historyConsultant">
                        <div class="panel-heading c-list">
                            <span class="title">Lịch sử tư vấn</span>
                        </div>
                        <div class="row" style="display: none;">
                            <div class="col-xs-12">
                                <div class="input-group c-search">
                                    <input type="text" class="form-control" id="contact-list-search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group" id="contact-list">
                        </ul>
                    </div>

                    <div class="panel panel-default" id="patientDetailPanel" style="display: none">
                        <div class="panel-heading" id="patientDetailPanelHeading">
                        </div>
                        <div class="panel-body">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <fieldset>
                                    <legend>Lịch sử khám bệnh</legend>
                                </fieldset>
                            </a>
                            <div id="collapseOne" class="collapse in">
                                <div class="flexslider">
                                    <ul class="treatment-history-list slides">
                                    </ul>
                                </div>
                                <div class="pull-right treatment-navigation">
                                    <button class="btn btn-default btn-sm btn-omcs btn-prev" data-toggle="tooltip" data-original-title="Quay lại">
                                        <i class="glyphicon glyphicon-chevron-left" style="font-size: 12px;"></i>
                                    </button>
                                    <button class="btn btn-default btn-sm btn-omcs btn-next" data-toggle="tooltip" data-original-title="Tiếp tục">
                                        <i class="glyphicon glyphicon-chevron-right" style="font-size: 12px;"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <fieldset>
                                    <legend>Khám bệnh</legend>
                                </fieldset>
                            </a>
                            <div id="collapseTwo" class="collapse">
                                <form id="newTreatmentForm" action="@Url.Action("Create", "TreatmentHistory")" method="post">
                                    <div class="form-group" style="margin-top: 20px;">
                                        <label class="control-label">Hồ sơ bệnh án</label>
                                        <input name="medicalProfileId" style="margin-left: 10px">
                                    </div>
                                    <div class="form-group">
                                        <label for="OnSetDate" class="control-label">Ngày phát bệnh</label>
                                        <input id="OnSetDate" readonly="readonly" name="OnSetDate" class="datepicker form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="Symptom" class="control-label">Triệu chứng</label>
                                        <textarea id="Symptom" name="Symptom" class="form-control required"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="Diagnosis" class="control-label">Chẩn đoán</label>
                                        <textarea id="Diagnosis" name="Diagnosis" class="form-control required"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="Treatment" class="control-label">Phương pháp điều trị</label>
                                        <textarea id="Treatment" name="Treatment" class="form-control"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="Condition">Tình trạng điều trị</label>
                                        <textarea id="Condition" name="Condition" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="Note">Ghi chú</label>
                                        <textarea id="Note" name="Note" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group film-document">
                                        <label>Hồ sơ ảnh</label>
                                        <div class="film-document-holder"></div>
                                    </div>
                                    <div class="alert-aria"></div>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-info btn-sm" id="saveTreatmentBtn" data-toggle="tooltip" data-original-title="Lưu lượt khám bệnh">
                                            <i class="glyphicon glyphicon-floppy-disk" style="font-size: 12px;"></i>
                                        </button>
                                        <button class="btn btn-warning btn-sm" id="clearTreatmentBtn" data-toggle="tooltip" data-original-title="Tạo lại từ đầu">
                                            <i class="glyphicon glyphicon-refresh" style="font-size: 12px;"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-primary webcam-content" style="display: none">
                        <div class="panel-body">
                            <video id="webcam" class="video patient cool-background" autoplay="autoplay"
                                controls="controls" muted="muted" style="width: 100%; height: 100%;">
                            </video>
                            <canvas id="photo" style="display: none"></canvas>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group-btn" style="margin-right: 53px; margin-left: auto; display: block">
                                <button class="btn btn-info btn-sm" id="takePhoto" data-toggle="tooltip" data-original-title="Chụp hình ảnh...">
                                    <i class="glyphicon glyphicon-camera" style="font-size: 12px;"></i>
                                </button>
                                <button class="btn btn-warning btn-sm" id="closePatientWebcam" data-toggle="tooltip" data-original-title="Đóng webcam...">
                                    <i class="glyphicon glyphicon-remove" style="font-size: 12px;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="divChat" class="panel panel-primary">
                        <div class="panel-body" style="padding-right: 0">
                            <ul class="chat" id="chat-content" style="height: 408px; padding-right: 10px">
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <textarea id="txtMessage" class="form-control" rows="2" placeholder="Nội dung tin nhắn..." disabled="disabled"></textarea>
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btnSendMsg" disabled="disabled">Gửi</button>
                                </span>
                            </div>
                            <div id="filelist"></div>
                            <div id="upload-container">
                                <a id="pickfiles" href="javascript:;">Gửi file đính kèm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->
<input id="txtFromEmail" class="textBox" value="@User.Email" type="hidden"/>
<input id="txtToEmail" class="textBox" value="" type="hidden" />

<div class="modal fade in" id="modal-popup-img-use-as" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <img src="#" class="img-responsive" style="max-height: 400px; display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                <button class="btn btn-primary useAsFilmDocument">Sử dụng...</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-popup">
</div>

<div class="modal fade in" id="modal-popup-full">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<!-- Use for modal view patient detail -->
<div class="modal fade in" id="view-model">
    <div id="view-container"></div>
</div>

<div class="modal fade in" id="modal-popup-img" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <img src="#" class="img-responsive" style="max-height: 400px; display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
            </div>
        </div>
    </div>
</div>

<script id="doctor-list-template" type="text/template">
    <%
        _.each(conversations, function(conversation){
    %>
    <li class="list-group-item">
        <div class="col-xs-12 col-sm-12">
            <input class="username" type="hidden" value="<%= conversation.Email %>" />
            <span class="name"><%= conversation.FullName %></span><br />
            <span class="speciaty"><%= conversation.LastestContent %></span><br />
            <% if (conversation.OnlineStatus == 1) {
            %>
                <i class="glyphicon glyphicon-user" style="position: absolute; right: 0; top: 40px; color: #2980b9; font-size: 1.2em;"></i>
            <% } %>

            <% if (!conversation.IsRead) {
            %>
                <i class="glyphicon glyphicon-bell" style="position: absolute; right: 0; top: 21px; color: #e67e22; font-size: 1.2em;"></i>
            <% } %>
        </div>
        <div class="clearfix"></div>
    </li>
    <%
        });
    %>  
</script>

<script id="chat-left-template" type="text/template">
    <li class="left clearfix" data-id="<%= message.id %>">
        <span class="chat-img pull-left">
            <img src="@Html.GetPictureUrl("Profile")<%= user.ProfilePicture %>" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font"><%= user.FullName %></strong>
                <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span><%= message.CreatedDate %>
                </small>
            </div>
            <% if (message.Content != null) { %>
            <p style="white-space: pre-line"><%= message.Content %></p>
            <% } else if (isImage(message.Attachment)) { %>
                <img src="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" class="picture-thumbnail" />
            <a href="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" download>
                <i class="glyphicon glyphicon-paperclip"></i><%= message.Attachment %>
            </a>
            <% } else { %>
                <a href="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" target="_blank">
                    <i class="glyphicon glyphicon-paperclip"></i><%= message.Attachment %>
                </a><% } %>
        </div>
    </li>
</script>

<script id="chat-right-template" type="text/template">
    <li class="right clearfix <% if (!message.IsRead) { %> unread-message-hightlight<% } %>" data-id="<%= message.id %>">
        <span class="chat-img pull-right">
            <img src="@Html.GetPictureUrl("Profile")<%= user.ProfilePicture %>" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= message.CreatedDate %></small>
                <strong class="pull-right primary-font"><%= user.FullName %></strong>
            </div>
            <% if (message.Content != null) { %>
            <p style="white-space: pre-line"><%= message.Content %></p>
            <% } else if (isImage(message.Attachment)) { %>
                <img src="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" class="picture-thumbnail" />
            <a href="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" download>
                <i class="glyphicon glyphicon-paperclip"></i><%= message.Attachment %>
            </a>
            <% } else { %>
                <a href="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" target="_blank">
                    <i class="glyphicon glyphicon-paperclip"></i><%= message.Attachment %>
                </a><% } %>
        </div>
    </li>
</script>

<script id="treatment-history-template" type="text/html">
    <% _.each(treatmentHistories, function(treatmentHistory) { %>
    <li class="treatment-history-item" data-treatmentId="<%= treatmentHistory.id %>">
        <h4><span class="label label-info" data-container="body" data-original-title="Ngày tạo" data-toggle="tooltip"><%= treatmentHistory.dateCreated %></span></h4>
        <div class="medical-record-name">
            <% if (treatmentHistory.medicalRecordName != undefined) { %>
                <a class="btn btn-default btn-sm" style="border-radius: 0" href="@Url.Action("ViewMedicalProfile", "DoctorMedicalProfile")?medicalProfileId=<%= treatmentHistory.medicalRecordId %>"><%= treatmentHistory.medicalRecordName %></a>
            <% } else { %>
                <span class="label label-default">Khám bệnh tự do</span>
            <% } %>
        </div>
        <span class="text"><b>Ngày phát bệnh:</b> <%= treatmentHistory.onSetDate %></span>
        <span class="text"><b>Chẩn đoán:</b> <%= treatmentHistory.diagnosis %></span>
        <span class="text"><b>Tình trạng điều trị:</b> <%= treatmentHistory.condition %></span>

        <div class="treatment-item-btn-group">
            <ul>
                <li class="facebook" style="width: 34%;">
                    <a class="viewTreatment" data-container="body" data-original-title="Xem chi tiết" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-search"></span></a>
                </li>
                <li class="twitter" style="width: 33%;">
                    <a class="editTreatment" data-container="body" data-original-title="Chỉnh sửa" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                </li>
                <li class="facebook" style="width: 34%;">
                    <a class="viewConversation" data-container="body" data-original-title="Liên kết hội thoại" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-comment"></span></a>
                </li>
                <li class="google-plus" style="width: 33%;">
                    <a class="deleteTreatment" data-container="body" data-original-title="Xóa" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-remove"></span></a>
                </li>

            </ul>
        </div>
    </li>
    <% }) %>
</script>

<script id="user-detail-heading-template" type="text/html">
    <div class="row">
        <input type="hidden" value="<%= patientDetail.patientId %>" id="patientId" />
        <div class="col-xs-12 col-sm-3">
            <img src="/Content/Image/ProfilePicture/<%= patientDetail.profilePicture %>" class="img-responsive img-circle">
        </div>
        <div class="col-xs-12 col-sm-9">
            <span class="name"><%= patientDetail.fullname %></span>
            <button class="btn btn-info btn-sm" data-original-title="Tìm bệnh nhân" data-toggle="tooltip" id="btnSearchPatient" style="margin-bottom: 8px;">
                <i class="fa fa-exchange" style="font-size: 12px;"></i>
            </button>
            <br>
            <span class="speciaty"><%= patientDetail.job %> - <%= patientDetail.age %> tuổi</span><br>
            <button class="btn btn-info btn-sm" data-original-title="Xem chi tiết" data-toggle="tooltip" id="btnViewPatientDetail">
                <i class="glyphicon glyphicon-search" style="font-size: 12px;"></i>
            </button>
            <button class="btn btn-info btn-sm" data-original-title="Dị ứng" data-toggle="tooltip" style="margin-left: 4px;" id="btnViewAllergy">
                <i class="glyphicon glyphicon-list-alt" style="font-size: 12px;"></i>
            </button>
            <button class="btn btn-info btn-sm" data-original-title="Lịch sử tiêm chủng" data-toggle="tooltip" style="margin-left: 4px;" id="btnViewImmunization">
                <i class="fa fa-medkit" style="font-size: 12px;"></i>
            </button>
            <button class="btn btn-info btn-sm" id="requestWebcam" data-toggle="tooltip" data-original-title="Yêu cầu Webcam..." style="margin-left: 4px;">
                <i class="glyphicon glyphicon-facetime-video" style="font-size: 12px;"></i>
            </button>
        </div>
    </div>
</script>

<script id="film-document-template" type="text/html">
    <div class="form-control-static">
    <%
        _.each(filmDocuments, function(filmDocument, index) {
    %>
        <div class="col-md-3">
            <img class="slider-img img-responsive" data-id="<%= index %>" src="<%= filmDocument.ImgBase64 %>">
        </div>
    <% }); %>
    </div>
</script>

<script id="film-document-detail-template" type="text/html">
    <div class="modal-dialog modal-lg">
     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Thay Đổi Hồ Sơ Ảnh</h4>
      </div>
      <div class="modal-body">
          <div class="row">
          <div class="col-md-6">
            <img id="imgPhoto" src="<%= filmDocument.ImgBase64 %>" alt="your image" class="img-responsive"/>
          </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Description" class="control-label">Mô tả</label>
                    <textarea id="Description" name="Description" class="form-control"><%= filmDocument.Description %></textarea>
                </div>
                <div class="form-group">
                    <label for="Conclusion" class="control-label">Kết luận</label>
                    <textarea id="Conclusion" name="Conclusion" class="form-control"><%= filmDocument.Conclusion %></textarea>
                </div>
            </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
        <button class="btn btn-warning deleteFilmDocumentBtn" data-id="<%= filmDocument.PositionId %>">Xóa</button>
        <button class="btn btn-primary saveFilmDocumentBtn" data-id="<%= filmDocument.PositionId %>">Lưu</button>
      </div>
    </div>
    </div>
</script>

<script src="~/Scripts/site/doctor-conversation.js"></script>
<script src="~/Scripts/webrtc/adapter.js"></script>
<script src="~/Scripts/webrtc/connectionManager.js"></script>
<script src="~/Scripts/webrtc/app-doctor.js"></script>
