@model IEnumerable<OMCS.DAL.Model.Allergy>
<fieldset>
    <legend>Dị ứng</legend>
</fieldset>

<table class="table table-data table-bordered table-striped" style="clear: both">
    <tbody>
        @for(var i = 0;i < Model.Count();i++)
        {
            if (i == 0 || (!@Model.ElementAt(i).MedicalProfile.MedicalProfileTemplate.MedicalProfileTemplateName.Equals
                (@Model.ElementAt(i-1).MedicalProfile.MedicalProfileTemplate.MedicalProfileTemplateName)))
            {
            <tr>
                <td colspan="6">
                    <div class="form-inline">
                        <span class="label label-info">Bệnh án:</span> @Model.ElementAt(i).MedicalProfile.MedicalProfileTemplate.MedicalProfileTemplateName
                        <a data-toggle="tooltip" data-original-title="Xem chi tiết" 
                            href="@Url.Action("Details", "UserMedicalProfile", new { medicalProfileId = @Model.ElementAt(i).MedicalProfile.MedicalProfileId })"
                            target="_blank"
                            data-id="@Model.ElementAt(i).MedicalProfile.MedicalProfileId" class="edit-btn btn btn-sm btn-warning">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="info">
                <td>Loại dị ứng</td>
                <td>Tên</td>
                <td>Mô tả</td>
                <td>Ngày bị dị ứng gần nhất</td>
                <td>Phản ứng</td>
                <td>Ghi chú</td>
            </tr>
         }
            <tr>
                <td>@Model.ElementAt(i).AllergyType.Name</td>
                <td>@Model.ElementAt(i).Name</td>
                <td>@Model.ElementAt(i).AllergyType.Description</td>
                <td>@Model.ElementAt(i).DateLastOccurred.ToShortDateString()</td>
                <td>@Model.ElementAt(i).Reaction </td>
                <td>@Model.ElementAt(i).Note</td>
            </tr>
        }
    </tbody>
</table>