@model OMCS.DAL.Model.PersonalHealthRecord
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-xs-4" style="float: right">
        <label class="switch-light progress progress-striped active" onclick="">
            <input type="checkbox" id="enable">
            <span>Thay đổi
                <span aria-label="Tắt" title="Tắt">O</span>
                <span aria-label="Bật" title="Bật">I</span>
            </span>
            <a class="progress-bar progress-bar-success"></a>
        </label>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-4" style="float: right; display: none" id="autoopendiv">
        <label class="switch-light progress progress-striped active" onclick="">
            <input type="checkbox" id="autoopen">
            <span>Liên tiếp
                <span aria-label="Tắt" title="Tắt">O</span>
                <span aria-label="Bật" title="Bật">I</span>
            </span>
            <a class="progress-bar progress-bar-success"></a>
        </label>
    </div>
</div>

<fieldset>
    <legend>Sức khỏe cá nhân</legend>
</fieldset>

<table class="table table-data table-bordered table-striped" style="clear: both">
    <tbody>
        <tr>
            <td style="width: 35%;">@Html.DisplayNameFor(model => model.Height)</td>
            <td style="width: 65%;">
                <a href="#" id="height" data-type="text"
                    data-title="@Html.DisplayNameFor(model => model.Height)" class="editable editable-click">
                    @Html.DisplayFor(model => model.Height)
                </a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Weight)</td>
            <td>
                <a href="#" id="weight" data-type="text" 
                    data-title="@Html.DisplayNameFor(model => model.Weight)" class="editable editable-click">
                    @Html.DisplayFor(model => model.Weight)
                </a>
            </td>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.EyeColor)</td>
            <td>
                <a href="#" id="eyeColor" data-type="text" data-value="@Html.DisplayFor(model => model.EyeColor)"
                    data-title="@Html.DisplayNameFor(model => model.EyeColor)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HairColor)</td>
            <td>
                <a href="#" id="hairColor" data-type="text" data-value="@Html.DisplayFor(model => model.HairColor)"
                    data-title="@Html.DisplayNameFor(model => model.HairColor)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.BloodType)</td>
            <td>
                <a href="#" id="bloodType" data-type="text" data-value="@Html.DisplayFor(model => model.BloodType)"
                    data-title="@Html.DisplayNameFor(model => model.BloodType)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AlcoholPerWeek)</td>
            <td>
                <a href="#" id="alcoholPerWeek" data-type="text" data-value="@Html.DisplayFor(model => model.AlcoholPerWeek)"
                    data-title="@Html.DisplayNameFor(model => model.AlcoholPerWeek)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.AlcoholNumOfYear)</td>
            <td>
                <a href="#" id="alcoholNumOfYear" data-type="text" data-value="@Html.DisplayFor(model => model.AlcoholNumOfYear)"
                    data-title="@Html.DisplayNameFor(model => model.AlcoholNumOfYear)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SmokePackPerWeek)</td>
            <td>
                <a href="#" id="smokePackPerWeek" data-type="text" data-value="@Html.DisplayFor(model => model.SmokePackPerWeek)"
                    data-title="@Html.DisplayNameFor(model => model.SmokePackPerWeek)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SmokeNumOfYear)</td>
            <td>
                <a href="#" id="smokeNumOfYear" data-type="text" data-value="@Html.DisplayFor(model => model.SmokeNumOfYear)"
                    data-title="@Html.DisplayNameFor(model => model.SmokeNumOfYear)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SportName)</td>
            <td>
                <a href="#" id="sportName" data-type="text" data-value="@Html.DisplayFor(model => model.SportName)"
                    data-title="@Html.DisplayNameFor(model => model.SportName)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SportPerWeek)</td>
            <td>
                <a href="#" id="sportPerWeek" data-type="text" data-value="@Html.DisplayFor(model => model.SportPerWeek)"
                    data-title="@Html.DisplayNameFor(model => model.SportPerWeek)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ExerciseType)</td>
            <td>
                <a href="#" id="exerciseType" data-type="text" data-value="@Html.DisplayFor(model => model.ExerciseType)"
                    data-title="@Html.DisplayNameFor(model => model.ExerciseType)" class="editable editable-click"></a>
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ExercisePerWeek)</td>
            <td>
                <a href="#" id="exercisePerWeek" data-type="text" data-value="@Html.DisplayFor(model => model.ExercisePerWeek)"
                    data-title="@Html.DisplayNameFor(model => model.ExercisePerWeek)" class="editable editable-click"></a>
            </td>
        </tr>
    </tbody>
</table>

<fieldset>
    <legend>Dị ứng</legend>
</fieldset>

<table class="table table-data table-bordered table-striped" style="clear: both">
    <tbody>
        <tr class="info">
            <td style="width: auto;">Loại dị ứng</td>
            <td style="width: auto;">Mô tả</td>
            <td style="width: auto;">Ngày bị dị ứng gần nhất</td>
            <td style="width: auto;">Phản ứng</td>
            <td style="width: auto;">Ghi chú</td>
        </tr>
        @foreach (var a in ViewBag.Allergy)
        {
            <tr>
                <td style="width: auto;">@a.AllergyType.Name </td>
                <td style="width: auto;">@a.AllergyType.Description</td>
                <td style="width: auto;">@a.DateLastOccurred</td>
                <td style="width: auto;">@a.Reaction </td>
                <td style="width: auto;">@a.Note</td>
            </tr>
        }
    </tbody>
</table>


<fieldset>
    <legend>Lịch sử tiêm chủng</legend>
</fieldset>
<table class="table table-data table-bordered table-striped" style="clear: both">
    <tbody>
        <tr class="info">
            <td style="width: auto;">Loại tiêm chủng</td>
            <td style="width: auto;">Ngày tiêm chủng</td>
            <td style="width: auto;">Số lần tiêm chủng</td>
        </tr>
        @foreach (var i in ViewBag.Immunizations)
        {
            <tr>
                <td style="width: auto;">@i.Name </td>
                <td style="width: auto;">@i.DateImmunized</td>
                <td style="width: auto;">@i.BoosterTime</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(function () {
        //Show allergy
        //defaults
        $.fn.editable.defaults.url = '/UserHealthRecord/Save';
        $.fn.editable.defaults.emptytext = 'Trống';
        $.fn.editable.defaults.pk = @Html.DisplayFor(model => model.PatientId);

        //enable / disable
        $('#enable').click(function () {
            if ($(this).prop("checked")) {
                $("#autoopendiv").css("display", "block");
            } else {
                $("#autoopendiv").css("display", "none");
            }
            $('.table-data .editable').editable('toggleDisabled');
        });

        //editables 
        $('#height').editable({
            validate: function (value) {
                var regEx = validationRegex.double;
                bValid = value.match(regEx);  
                if(!bValid){
                    return jQuery.validator.messages.double;;
                }
            }
        });

        $('#weight').editable({
            validate: function (value) {
                var regEx = validationRegex.double;
                bValid = value.match(regEx);
                if (!bValid) {
                    return jQuery.validator.messages.double;;
                }
            }
        });
        $('#eyeColor').editable();
        $('#hairColor').editable();
        $('#bloodType').editable();
        $('#alcoholPerWeek').editable({
            validate: function (value) {
                var regEx = validationRegex.number99;
                bValid = value.match(regEx);
                if (!bValid) {
                    return jQuery.validator.messages.number99;
                }
            }
        });
        $('#alcoholNumOfYear').editable({
            validate: function (value) {
                var regEx = validationRegex.number99;
                bValid = value.match(regEx);
                if (!bValid) {
                    return jQuery.validator.messages.number99;;
                }
            }
        });
        $('#isBeer').editable();
        $('#smokePackPerWeek').editable({
            validate: function (value) {
                var regEx = validationRegex.double;
                bValid = value.match(regEx);
                if (!bValid) {
                    return jQuery.validator.messages.double;;
                }
            }
        });
        $('#smokeNumOfYear').editable({
            validate: function (value) {
                var regEx = validationRegex.integer;
                bValid = value.match(regEx);
                if (!bValid) {
                    return jQuery.validator.messages.double;;
                }
            }
        });
        $('#sportName').editable();
        $('#sportPerWeek').editable({
            validate: function (value) {
                var regEx = validationRegex.number99;
                bValid = value.match(regEx);
                if (!bValid) {
                    return jQuery.validator.messages.number99;;
                }
            }
        });
        $('#exerciseType').editable();
        $('#exercisePerWeek').editable({
            validate: function (value) {
                var regEx = validationRegex.number99;
                bValid = value.match(regEx);
                if (!bValid) {
                    return jQuery.validator.messages.number99;;
                }
            }
        });
        
        $('.table-data .editable').editable('toggleDisabled');
    });
</script>
