@{
    ViewBag.Title = "Cập nhật hồ sơ bệnh án";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
@section Scripts{
    @Scripts.Render("~/bundles/jsTemplateEditor")
}
@section Styles{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet">
}

<script type="text/javascript">
    var formInJson = @Html.Raw(ViewBag.formInJson);
    var medicalProfileTemplateId = @(ViewBag.medicalProfileTemplateId);
    var medicalProfileId = @(ViewBag.medicalProfileId);
    var patientId = @(ViewBag.patientId);
    var treatmentHistoryUrl = "@Url.Action("List", "TreatmentHistory")";
    var filmDocumentUrl = "@Url.Action("List", "FilmDocument")";
    var allergyUrl = "@Url.Action("List", "Allergy")";
    var immunizationUrl = "@Url.Action("List", "Immunization")";
</script>

<div id="build">
    <form id="target" class="form-horizontal" action="@Url.Action("UpdateMedicalProfile")">
        <div class="control-group">
            <h2>@(ViewBag.medicalProfileName)</h2>
        </div>
        <input name="medicalProfileTemplateId" type="hidden" value="@(ViewBag.medicalProfileTemplateId)"/>
        <input name="patientId" type="hidden" value="@(ViewBag.patientId)"/>
        <fieldset>
        </fieldset>
    </form>
</div>

<div class="modal fade in" id="modal-popup">
</div>

<div class="modal fade in" id="modal-popup-img">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-content">
            <img src="#" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="medical-profile-overview">
    <div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-2" align="center">
            <img alt="User Pic" src="~/Content/Image/ProfilePicture/@ViewBag.doctor.ProfilePicture" class="img-circle doctor-img">
        </div>
        <div class="col-md-6 col-lg-6">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Bác Sĩ: </td>
                        <td>@ViewBag.doctor.FullName</td>
                        <td>Chuyên Khoa: </td>
                        <td>@ViewBag.doctor.SpecialtyField.Name</td>                        
                    </tr>
                    <tr>
                        <td>Ngày tạo: </td>
                        <td>@ViewBag.createdDate.ToShortDateString()</td>
                        <td>Bệnh viện</td>
                        <td>@ViewBag.hospital</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 col-lg-3" align="center">
            <div class="controls">
                <button type="submit" id="updateMedicalProfileBtn" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="row clearfix">
</div>
<script src="~/Content/FormBuilder/js/config.js"></script>
<script data-main="../main-edit" src="~/Content/FormBuilder/js/lib/require.js" ></script>