@model OMCS.Web.DTO.PatientInformation
@using OMCS.Web
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Tạo mới bệnh nhân</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-info">
                <div class="panel-heading">
                </div>
                @using (Ajax.BeginForm("CreatePatient", "DoctorUser", FormMethod.Post,
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = "list-of-patient"
                    },
                    new { id = "create-patient-form" }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()          
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center">
                                <div class="tabbable tabs-left">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#basicInfo" data-toggle="tab">Thông tin cơ bản</a></li>
                                        <li><a href="#patientInfo" data-toggle="tab">Thông tin bệnh nhân</a></li>
                                        <li><a href="#contactPerson" data-toggle="tab">Thông tin người liên lạc</a></li>
                                        <li><a href="#healthRecord" data-toggle="tab">Sức khỏe cá nhân</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class=" col-md-9 col-lg-9">
                                <div class="tabbable tabs-left">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="basicInfo">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.Email) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" id="Email" name="Email" class="form-control required remote email" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.LastName) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" id="LastName" name="LastName" class="form-control required" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.FirstName) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" id="FirstName" name="FirstName" class="form-control required" /></td>
                                                        </tr>                                                     
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.Gender) <span style="color: red;">(*)</span></td>
                                                            <td>@Html.DropDownListFor(model => model.Patient.Gender, new SelectList(new List<string> { "Nam", "Nữ" }), new { @class = "form-control required" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.Birthday) <span style="color: red;">(*)</span></td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.Birthday, "{0:dd-MM-yyyy}", new { type = "date", @class = "form-control datepicker required" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.Phone) <span style="color: red;">(*)</span></td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.Phone, new { @class = "form-control required number" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.PrimaryAddress)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.PrimaryAddress, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.SecondaryAddress)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.SecondaryAddress, new { @class = "form-control" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                                                    <a class="btn btn-primary" href="#patientInfo" data-toggle="tab">Lưu</a>                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="patientInfo">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.Ethnicity)</td>
                                                            <td>
                                                                <select id="Ethnicity" class="dropdownclass form-control" name="Ethnicity">
                                                                    <option value="Kinh">Kinh</option>
                                                                    <option value=""></option>
                                                                    <option value="Ba na">Ba na</option>
                                                                    <option value="Bố Y">Bố Y</option>
                                                                    <option value="Brâu">Brâu</option>
                                                                    <option value="Bru - Vân Kiều">Bru - Vân Kiều</option>
                                                                    <option value="Chơ Ro">Chơ Ro</option>
                                                                    <option value="Chứt">Chứt</option>
                                                                    <option value="Chăm">Chăm</option>
                                                                    <option value="Co">Co</option>
                                                                    <option value="Cống">Cống</option>
                                                                    <option value="Cơ Ho">Cơ Ho</option>
                                                                    <option value="Cơ Lao">Cơ Lao</option>
                                                                    <option value="Cơ Tu">Cơ Tu</option>
                                                                    <option value="Chu ru">Chu ru</option>
                                                                    <option value="Dao">Dao</option>
                                                                    <option value="Ê Đê">Ê Đê</option>
                                                                    <option value="Gia Lai">Gia Lai</option>
                                                                    <option value="Gié - Triêng">Gié - Triêng</option>
                                                                    <option value="H'Mông">H'Mông</option>
                                                                    <option value="Giáy">Giáy</option>
                                                                    <option value="Hà Nhì">Hà Nhì</option>
                                                                    <option value="Hrê">Hrê</option>
                                                                    <option value="Hoa">Hoa</option>
                                                                    <option value="Kháng">Kháng</option>
                                                                    <option value="Khơ me">Khơ me</option>
                                                                    <option value="Khơ Mú">Khơ Mú</option>
                                                                    <option value="La Chí">La Chí</option>
                                                                    <option value="La Ha">La Ha</option>
                                                                    <option value="La Hủ">La Hủ</option>
                                                                    <option value="Lào">Lào</option>
                                                                    <option value="Lô Lô">Lô Lô</option>
                                                                    <option value="Lự">Lự</option>
                                                                    <option value="M'Nông">M'Nông</option>
                                                                    <option value="Mạ">Mạ</option>
                                                                    <option value="Mảng">Mảng</option>
                                                                    <option value="Mường">Mường</option>
                                                                    <option value="Ngái">Ngái</option>
                                                                    <option value="Nùng">Nùng</option>
                                                                    <option value="Ô đu">Ô đu</option>
                                                                    <option value="Pà Thẻn">Pà Thẻn</option>
                                                                    <option value="Phù Lá">Phù Lá</option>
                                                                    <option value="Pu Péo">Pu Péo</option>
                                                                    <option value="Ra Glai">Ra Glai</option>
                                                                    <option value="Rơ Măm">Rơ Măm</option>
                                                                    <option value="Sán Chay">Sán Chay</option>
                                                                    <option value="Sán Dìu">Sán Dìu</option>
                                                                    <option value="Si La">Si La</option>
                                                                    <option value="Tà Ôi">Tà Ôi</option>
                                                                    <option value="Tày">Tày</option>
                                                                    <option value="Thái">Thái</option>
                                                                    <option value="Thổ">Thổ</option>
                                                                    <option value="Xinh Mun">Xinh Mun</option>
                                                                    <option value="Xtiêng">Xtiêng</option>
                                                                    <option value="Xơ Đăng">Xơ Đăng</option>
                                                                </select></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.Nationality)</td>                                                            
                                                            <td>
                                                                <select id="Nationality" class="dropdownclass form-control" name="Nationality">
                                                                    <option value="Việt Nam">Việt Nam</option>
                                                                    <option value="Thái Lan">Thái Lan</option>
                                                                    <option value="Hoa Kì">Hoa Kì</option>
                                                                    <option value="Trung Quốc">Trung Quốc</option>
                                                                    <option value="Ấn Độ">Ấn Độ</option>
                                                                    <option value="Các nước khác">Các nước khác</option>
                                                                </select></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.Job)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.Job, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.WhereToWork)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.WhereToWork, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.HealthInsuranceId)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.HealthInsuranceId, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.HealthInsuranceIssued)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.HealthInsuranceIssued, "{0:dd-MM-yyyy}", new { type = "date", @class = "form-control datepicker" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.HealthInsuranceDateExpired)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.HealthInsuranceDateExpired, "{0:dd-MM-yyyy}", new { type = "date", @class = "form-control datepicker" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="modal-footer">                                                    
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                                                    <a class="btn btn-primary" href="#patientInfo" data-toggle="tab">Lưu</a>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="contactPerson">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.ContactPerson)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.ContactPerson, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.ContactPersonAddress)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.ContactPersonAddress, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.Patient.ContactPersonPhone)</td>
                                                            <td>@Html.TextBoxFor(model => model.Patient.ContactPersonPhone, new { @class = "form-control" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                                                    <a class="btn btn-primary" href="#patientInfo" data-toggle="tab">Lưu</a>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="healthRecord">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.Height) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input class="form-control number double" type="text" name="height" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.Weight) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input class="form-control number double" type="text" name="weight" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.EyeColor)</td>
                                                            <td>
                                                                <input class="form-control" type="text" name="eye" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.HairColor)</td>
                                                            <td>
                                                                <input class="form-control" type="text" name="hair" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.BloodType)</td>
                                                            <td>
                                                                <input class="form-control" type="text" name="blood" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.AlcoholPerWeek) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input class="form-control number double" type="text" name="alcoholweek" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.AlcoholNumOfYear) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input class="form-control number double" type="text" name="alcoholyear" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.SmokePackPerWeek) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input class="form-control number double" type="text" name="smokeweek" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.SmokeNumOfYear) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input class="form-control number double" type="text" name="smokeyear" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.SportName)</td>
                                                            <td>
                                                                <input class="form-control" type="text" name="sport" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.SportPerWeek) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input class="form-control number double" type="text" name="sportweek" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.ExerciseType)</td>
                                                            <td>
                                                                <input class="form-control" type="text" name="exercise" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.LabelFor(model => model.PersonalHealthRecord.ExercisePerWeek) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input class="form-control number double" type="text" name="exerciseweek" /></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
                                                    <button type="submit" class="btn btn-primary">Lưu</button>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>     
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#create-patient-form").validate({
            rules: {
                Email: {
                    remote: {
                        url: "@Url.Action("CheckExistEmail", "DoctorUser")",
                        timeout: 5000,
                        type: "POST"
                    },
                    maxlength: 50
                },
                FirstName: {
                    maxlength: 50
                },
                LastName: {
                    maxlength: 50
                },
                Password: {
                    rangelength: [6, 32]
                }
            },
            messages: {
                Email: {
                    remote: "Địa chỉ email đã tồn tại"
                }
            }
        });
    });
</script>


