@{
    ViewBag.Title = "Xem chi tiết hồ sơ bệnh án";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
@section Scripts{
    @Scripts.Render("~/bundles/jsTemplateEditor")
}
@section Styles{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet">
}

<script type="text/javascript">
    var detailsInJson = @Html.Raw(ViewBag.detailsInJson);
    var medicalProfileId = @(ViewBag.medicalProfileId);
    var treatmentHistoryUrl = "@Url.Action("ListView", "TreatmentHistory")";
    var filmDocumentUrl = "@Url.Action("ListView", "FilmDocument")";
    var allergyUrl = "@Url.Action("ListView", "Allergy")";
    var immunizationUrl = "@Url.Action("ListView", "Immunization")";
</script>

<div id="build">
    <form id="target" class="form-horizontal" action="@Url.Action("UpdateMedicalProfile")">
        <div class="control-group">
            <h2>@(ViewBag.medicalProfileName)</h2>
        </div>
        <fieldset>
        </fieldset>
    </form>
</div>

    <div class="row clearfix">
    </div>
<script src="~/Content/FormBuilder/js/config.js"></script>
<script data-main="../main-view" src="~/Content/FormBuilder/js/lib/require.js" ></script>

<div class="modal fade in" id="modal-popup">
</div>

<div class="modal fade in" id="modal-popup-img">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <div class="modal-content">
            <img src="#" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>