@{
    ViewBag.Title = "Tư Vấn Online";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model IEnumerable<OMCS.DAL.Model.User>
@using OMCS.Web

<!--Script references. -->
<script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
<script src="~/signalr/hubs"></script>
<script type="text/javascript" src="~/Content/plupload/moxie.js"></script>
<script type="text/javascript" src="~/Content/plupload/plupload.dev.js"></script>

<link href="~/Content/bootstrap-star-rating/css/star-rating.css" rel="stylesheet" />
<link href="~/Content/evaluate-page/evaluate.css" rel="stylesheet" />
<script src="~/Content/bootstrap-star-rating/js/star-rating.js"></script>
<style>
    #chat-content .pull-right {
        margin-right: 22px;
    }
    .panel-heading {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
</style>
<body>
    <h2>Tư vấn trực tuyến</h2>
    <div class="form-group">
        <label>Lọc theo chuyên khoa</label>
        <select id="specialty-select" multiple="multiple" style="width: 300px;">
            @foreach (var specialtyField in ViewBag.SpecialtyFields) {
                //  if (specialtyField.ParentId == 0)
                {
                    <optgroup label="@specialtyField.Name">
                       @foreach (var specialtyFieldChild in ViewBag.SpecialtyFields) {
                           if (specialtyFieldChild.SpecialtyFieldId == specialtyField.SpecialtyFieldId)
                           {
                            <option value="@specialtyFieldChild.Name">@specialtyFieldChild.Name</option>
                           }
                       }
                       @foreach (var specialtyFieldChild in ViewBag.SpecialtyFields) {
                           if (specialtyFieldChild.ParentId == specialtyField.SpecialtyFieldId) {
                            <option value="@specialtyFieldChild.Name">@specialtyFieldChild.Name</option>
                           }
                       }
                   </optgroup>
                }
            }
        </select>
    </div>
    <hr />
        <div class="row" id="chatbox">
            <div class="col-xs-12 col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading c-list">
                        <span class="title">Danh sách bác sĩ</span>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <ul class="list-group" id="contact-list" style="height: 458px; width: auto">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-primary webcam-content" style="display:none">
                    <div class="panel-body">
                        <video id="webcam" class="video patient cool-background" autoplay="autoplay"
                            controls="controls" muted="muted" style="width: 100%; height: 100%;">
                        </video>
                        <canvas id="photo" style="display: none"></canvas>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group-btn" style="margin-right: 53px;margin-left: auto;display:block">
                            <button class="btn btn-warning btn-sm" id="closePatientWebcam" data-toggle="tooltip" data-original-title="Đóng webcam...">
                                <i class="glyphicon glyphicon-remove" style="font-size: 12px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary panel-chat">
                    <div class="panel-heading c-list">
                        <span id="chat-doctor"></span>
                    </div>
                    <div class="panel-body" style="padding-right: 0">
                        <ul class="chat" id="chat-content" style="height: 360px; padding-right: 10px">
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div style="min-height: 55px;">
                            <div style="float: left;width: 93%;">
                                <textarea id="txtMessage" class="form-control" rows="2" style="border-radius: 0;" placeholder="Nội dung tin nhắn..."></textarea>
                            </div>
                            <div style="width: 5%; float: right">
                                <button class="btn btn-info btn-omcs btn-sm" style="width: 30px;" id="btnSendMsg" data-toggle="tooltip" data-original-title="Gửi tin nhắn"><i class="fa fa-share"></i></button>
                                <button class="btn btn-warning btn-omcs btn-sm" id="btnOpenRequestConsult" data-toggle="tooltip" data-original-title="Gửi yêu cầu tư vấn"><i class="fa fa-file-text"></i></button>
                            </div>
                        </div>
                        <div id="filelist"></div>
                        <div id="upload-container">
                            <a id="pickfiles" href="javascript:;">Gửi file đính kèm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<div class="modal fade in" id="modal-popup-img" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="modal-content">
                    <img src="#" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-popup-request-consult" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Yêu cầu tư vấn</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Tình trạng hiện tại</label>
                    <div class="">
                        <textarea class="form-control conditionTxt"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Nội dung cần tư vấn</label>
                    <div class="">
                        <textarea class="form-control requestConsultTxt"></textarea>
                    </div>
                </div>
                <div class="alert-aria">
                </div>
                <button class="btn btn-default send-form-request">Gửi yêu cầu</button>
                <h3>Mẫu tư vấn tham khảo</h3>
                <p><code>Tình trạng hiện tại:</code> Bác sỹ ơi cho em hỏi, con gái em năm nay 6 tuổi, bé thường xuyên bị đau bụng và em đã đưa bé khám tại Bệnh viện Nhi đồng 2 nhưng qua kết quả siêu âm Bác sỹ bảo bé không bị bệnh gì cả chỉ là 2 thận của bé bên lớn, bên nhỏ do dị tật bẩm sinh và không cho dùng thuốc (chỉ khuyên uống nhiều nước). Tuy nhiên, về nhà bé vẫn bảo đau bụng.</p>
                <p><code>Nội dung cần tư vấn:</code> Bác sỹ cho em hỏi con gái em nên đi khám ở bệnh viện nào? và bệnh của bé em nên cho bé khám khoa nào hoặc là khám tổng quát hết được không ạ? Xin cám ơn Bác sỹ ạ!</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-remind-consult" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="jumbotron">
                    <h1>Lưu ý!</h1>
                    <p>Để quá trình tư vấn diễn được hiệu quả bạn có thể gửi yêu cầu tư vấn theo <code>Mẫu tư vấn</code>có sẵn của chương trình</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default open-request-consult">Mẫu tư vấn</button>
                <button class="btn btn-primary" data-dismiss="modal">Bỏ qua</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="doctor-detail" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

<script id="doctor-list-template" type="text/template">
    <%
        _.each(doctors, function(doctor){
    %>
    <li class="list-group-item row" data-email="<%= doctor.Email %>">
        <div class="col-xs-12 col-sm-3">
            <img src="/Content/Image/ProfilePicture/<%= doctor.ProfilePicture %>" alt="<%= doctor.FullName %>" class="img-responsive img-circle" />
        </div>
        <div class="col-xs-12 col-sm-9">
            <input class="username" type="hidden" value="<%= doctor.Email %>" />
            <span class="name"><%= doctor.FullName %></span><br />
            <span class="speciaty"><%= doctor.SpecialtyField %></span>
            <span class="lastest-message"><%= doctor.LastestContent %></span><br />
            <% if (doctor.OnlineStatus == 1) {
            %>
                <i class="glyphicon glyphicon-user" style="position: absolute; right: 0; top: 40px; color: #2980b9; font-size: 1.2em;"></i>
            <% } else if (doctor.OnlineStatus == 2) { %>
                <i class="glyphicon glyphicon-user" style="position: absolute; right: 0; top: 40px; color: #E74C3C; font-size: 1.2em;"></i>
            <% } %>

            <% if (!doctor.IsRead) {
            %>
                <i class="glyphicon glyphicon-bell" style="position: absolute; right: 0; top: 21px; color: #e67e22; font-size: 1.2em;"></i>
            <% } %>
        </div>
        <div class="clearfix"></div>
    </li>
    <%
        });
    %>  
</script>

<script id="chat-top-template" type="text/template">
    <strong class="title"><%= user.FullName %>
    </strong>
</script>

<script id="chat-left-template" type="text/template">
    <li class="left clearfix">
        <span class="chat-img pull-left">
            <img src="@Html.GetPictureUrl("Profile")<%= user.ProfilePicture %>" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font"><%= user.FullName %></strong> <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span><%= message.CreatedDate %></small>
            </div>
            <% if (message.Content != null) { %>
            <p style="white-space: pre-line"><%= message.Content %></p>
            <% } else if (isImage(message.Attachment)) { %>
                <img src="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" class="picture-thumbnail" />
            <a href="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" download>
                <i class="glyphicon glyphicon-paperclip"></i><%= message.Attachment %>
            </a>
            <% } else { %>
                <a href="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" target="_blank">
                    <i class="glyphicon glyphicon-paperclip"></i><%= message.Attachment %>
                </a><% } %>
        </div>
    </li>
</script>

<script id="chat-right-template" type="text/template">
    <li class="right clearfix <% if (!message.IsRead) { %> unread-message-hightlight<% } %>">
        <span class="chat-img pull-right">
            <img src="@Html.GetPictureUrl("Profile")<%= user.ProfilePicture %>" alt="User Avatar" class="img-circle" />
        </span>
        <div class="chat-body clearfix">
            <div class="header">
                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= message.CreatedDate %></small>
                <strong class="pull-right primary-font"><%= user.FullName %></strong>
            </div>
            <% if (message.Content != null) { %>
            <p style="white-space: pre-line"><%= message.Content %></p>
            <% } else if (isImage(message.Attachment)) { %>
                <img src="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" class="picture-thumbnail" />
            <a href="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" download>
                <i class="glyphicon glyphicon-paperclip"></i><%= message.Attachment %>
            </a>
            <% } else { %>
                <a href="@Html.GetPictureUrl("Upload")<%= message.Attachment %>" target="_blank">
                    <i class="glyphicon glyphicon-paperclip"></i><%= message.Attachment %>
                </a><% } %>
        </div>
    </li>
</script>

<script src="~/Scripts/site/patient-conversation.js"></script>
<script src="~/Scripts/webrtc/adapter.js"></script>
<script src="~/Scripts/webrtc/connectionManager.js"></script>
<script src="~/Scripts/webrtc/app-patient.js"></script>