@model OMCS.DAL.Model.FilmDocument
@using OMCS.Web
@using (Ajax.BeginForm("Edit", "FilmDocument", null, new { EncType = "multipart/form-data" }))    
{
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <input name="treatmentHistoryId" type="hidden" value="@Html.ValueFor(model=>model.TreatmentHistoryId)"/>
      <input name="medicalProfileId" type="hidden" value="@Html.ValueFor(model=>model.MedicalProfileId)"/>
      <input name="doctorId" type="hidden" value="@Html.ValueFor(model=>model.DoctorId)"/>
      <input name="filmDocumentId" type="hidden" value="@Html.ValueFor(model=>model.FilmDocumentId)"/>
      <input name="dateCreated" type="hidden" value="@Html.ValueFor(model=>model.DateCreated)"/>
      <input type='hidden' name="imagePath" value="@Model.ImagePath"/>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Chỉnh sửa Hồ Sơ ảnh</h4>
      </div>
      <div class="modal-body">
          <div class="row">
          <div class="col-lg-6">
            <form runat="server">
                <img id="targetImg" src="@Html.GetPictureUrl("FilmDocument")@Model.ImagePath" class="img-responsive img-modal"/>
                <input type='file' name="file" id="imgInp" style="padding-top: 10px;"/>
            </form>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
                <label for="FilmType" class="control-label">Loại phim</label>
                @Html.DropDownList("FilmTypeId", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">@Html.DisplayNameFor(model=>model.Description)</label>
                <textarea id="Description" name="Description" class="form-control">@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label for="Conclusion" class="control-label">@Html.DisplayNameFor(model=>model.Conclusion)</label>
                <textarea id="Conclusion" name="Conclusion" class="form-control">@Model.Conclusion</textarea>
            </div>
        </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Bỏ qua</button>
        <button class="btn btn-warning deleteBtn" data-id="@Model.FilmDocumentId" data-url="@Url.Action("Delete")">Xóa</button>
        <button class="btn btn-primary saveBtn">Cập nhật</button>
      </div>
    </div>
  </div>
}