@model OMCS.DAL.Model.User
@using OMCS.Web


@using (Ajax.BeginForm("Edit", "AdminUser", null, new { EncType = "multipart/form-data", id = "edit-form" }))
{
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Cập Nhật</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        @Model.LastName
                        @Model.FirstName
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3" align="center">
                                <form runat="server">
                                    <img alt="User Pic" id="targetImg" src="@Html.GetPictureUrl("Profile")@Model.ProfilePicture" class="img-circle" style="width:120px; height:120px">
                                    <input type="file" name="file" id="imgInp" class="form-control" value="@Html.GetPictureUrl("Profile")@Model.ProfilePicture" />
                                </form>
                                <br />
                                <input type="hidden" name="profile" value="@Html.DisplayFor(model => model.ProfilePicture)" />
                            </div>
                            <div class=" col-md-9 col-lg-9">
                                <div class="tabbable tabs-left">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="basicInfo">
                                            <div class="form-group">
                                                <table class="table">
                                                    <tbody>
                                                        @Html.HiddenFor(model => model.Email)
                                                        @Html.HiddenFor(model => model.UserId)
                                                        @Html.HiddenFor(model => model.CreatedDate)
                                                        @Html.HiddenFor(model => model.Birthday)
                                                        @Html.HiddenFor(model => model.Email)
                                                        @Html.HiddenFor(model => model.Password)
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.LastName) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                <input type="text" id="LastName" name="LastName" value="@Html.DisplayFor(model => model.LastName)"  class = "form-control required" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.FirstName) <span style="color: red;">(*)</span></td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control required", @Name = "Firstname" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Gender)</td>
                                                            <td>@Html.DropDownListFor(model => model.Gender, new SelectList(new List<string> { "Nam", "Nữ" }), new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.Phone)</td>
                                                            <td>@Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.PrimaryAddress)</td>
                                                            <td>@Html.TextBoxFor(model => model.PrimaryAddress, new { @class = "form-control" })</td>
                                                        </tr>
                                                        <tr>
                                                            <td>@Html.DisplayNameFor(model => model.SecondaryAddress)</td>
                                                            <td>@Html.TextBoxFor(model => model.SecondaryAddress, new { @class = "form-control" })</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-save"></i>&nbsp;Lưu
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                         <i class="glyphicon glyphicon-remove"></i>&nbsp;Bỏ Qua
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#edit-form").validate({
            rules: {
                Email: {
                    remote: {
                        url: "@Url.Action("CheckExistEmail", "AdminUser", new { id = Model.UserId })",
                            timeout: 5000,
                            type: "POST"
                        },
                        maxlength: 50
                    },
                    FirstName: {
                        maxlength: 50
                    },
                    LastName: {
                        maxlength: 50
                    },
                    Password: {
                        rangelength: [6, 32]
                    },
                    RePassword: {
                        rangelength: [6, 32]
                    }
                }
            });
        });
</script>
