@model IEnumerable<OMCS.DAL.Model.Immunization>
@using OMCS.Web

<a id="new-btn" class="btn btn-sm btn-primary" data-original-title="Thêm tiêm chủng" style="position: absolute;right: 15px;margin-top: -57px;" data-toggle="tooltip"><i class="glyphicon glyphicon-plus"></i></a>

<table class="table table-striped table-hover">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Lần tiêm chủng
        </th>
        <th>
            Ngày tiêm chủng
        </th>
        <th>
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.BoosterTime
        </td>
        <td>
           @item.DateImmunized.ToShortDateString() 
        </td>
        <td>
            <a class="edit-btn btn btn-sm btn-warning" data-id="@item.ImmunizationId" data-original-title="Thay đổi" data-toggle="tooltip"><i class="glyphicon glyphicon-edit"></i></a>
            <a class="delete-btn btn btn-sm btn-danger" data-id="@item.ImmunizationId" data-original-title="Xóa" data-toggle="tooltip"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
}
</table>