@model OMCS.DAL.Model.Immunization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Immunization</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MedicalProfile.HeartRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MedicalProfile.HeartRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateImmunized)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateImmunized)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BoosterTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BoosterTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ImmunizationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
