@model OMCS.DAL.Model.Conversation

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Conversation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PatientId, "Patient")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PatientId", String.Empty)
            @Html.ValidationMessageFor(model => model.PatientId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorId, "Doctor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DoctorId", String.Empty)
            @Html.ValidationMessageFor(model => model.DoctorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

