@model IEnumerable<OMCS.DAL.Model.Conversation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ConversationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ConversationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ConversationId })
        </td>
    </tr>
}

</table>
