@model OMCS.DAL.Model.TreatmentHistory
@using OMCS.Web
@using (Ajax.BeginForm("Edit", "TreatmentHistory", null))
{
    <div class="modal-dialog modal-lg edit-treatment-history-modal">
        <div class="modal-content">
            <input name="treatmentHistoryId" type="hidden" value="@Html.ValueFor(model => model.TreatmentHistoryId)"/>
            <input name="patientid" type="hidden" value="@Html.ValueFor(model => model.PatientId)" />
            <input name="medicalProfileId" type="hidden" value="@Html.ValueFor(model => model.MedicalProfileId)"/>
            <input name="doctorId" type="hidden" value="@Html.ValueFor(model => model.DoctorId)"/>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cập nhật lượt khám</h4>
                <div id="treatment-type" class="pull-right" style="margin-top: -29px; margin-right: 27px;">
                    <select class="form-control" name="TreatmentHistoryType">
                        <option value="Online">Online</option>
                        <option value="Offline">Trực tiếp</option>
                    </select>
                </div>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal">
                    <div class="form-group">
                        <label for="Symptom" class="control-label col-md-4">@Html.DisplayNameFor(model=>model.Symptom)</label>
                        <div class="col-md-8">
                            <textarea id="Symptom" name="Symptom" class="form-control required">@Model.Symptom</textarea>
                        </div>
                    </div>
                <div class="form-group">
                    <label for="Diagnosis" class="control-label col-md-4">@Html.DisplayNameFor(model=>model.Diagnosis)</label>
                    <div class="col-md-8">
                        <textarea id="Diagnosis" name="Diagnosis" class="form-control required">@Model.Diagnosis</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Treatment" class="control-label col-md-4">@Html.DisplayNameFor(model=>model.Treatment)</label>
                    <div class="col-md-8">
                        <textarea id="Treatment" name="Treatment" class="form-control">@Model.Treatment</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Condition" class="control-label col-md-4">@Html.DisplayNameFor(model=>model.Condition)</label>
                    <div class="col-md-8">
                        <textarea id="Condition" name="Condition" class="form-control">@Model.Condition</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Note" class="control-label col-md-4">@Html.DisplayNameFor(model=>model.Note)</label>
                    <div class="col-md-8">
                        <textarea id="Note" name="Note" class="form-control">@Model.Note</textarea>
                    </div>
                </div>
                <div class="form-group film-document-list">
                    <label class="col-md-4 control-label">Hồ sơ ảnh</label>
                    <div class="col-md-8">
                        @if (Model.FilmDocuments.Count == 0)
                        {
                            <p class="form-control-static">Không có <code>Hồ sơ ảnh</code></p>
                        } else {
                            <div class="flexslider-film-document">
                                <ul class="treatment-history-list slides">
                            @foreach (var film in Model.FilmDocuments)
                            {
                                <li>
                                <div class="col-md-3">
                                    <img class="slider-img img-responsive" 
                                        data-id="@film.FilmDocumentId" src="@Html.GetPictureUrl("FilmDocument")@film.ImagePath" 
                                        style="margin-top: 15px;"/>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label for="FilmType" class="control-label col-md-4">Loại phim</label>
                                        <div class="form-control-static col-md-8">@film.FilmType.Name</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Description" class="control-label col-md-4">Mô tả</label>
                                        <div class="form-control-static col-md-8">@film.FilmType.Description</div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Conclusion" class="control-label col-md-4">Kết luận</label>
                                        <div class="form-control-static col-md-8">@film.Conclusion</div>
                                    </div>
                                </div>
                                </li>
                            }
                                </ul>
                            </div>
                            if (Model.FilmDocuments.Count > 1)
                            {
                            <div class="pull-right film-navigation">
                                <div class="btn btn-default btn-sm btn-omcs btn-prev" data-toggle="tooltip" data-original-title="Quay lại">
                                    <i class="glyphicon glyphicon-chevron-left" style="font-size: 12px;"></i>
                                </div>
                                <div class="btn btn-default btn-sm btn-omcs btn-next" data-toggle="tooltip" data-original-title="Tiếp tục">
                                    <i class="glyphicon glyphicon-chevron-right" style="font-size: 12px;"></i>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-2">
                        <img alt="User Pic" src="@Html.GetPictureUrl("Profile")@Model.Doctor.ProfilePicture" class="img-circle doctor-img">
                    </div>
                    <div class="col-md-8">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Bác Sĩ: </td>
                                    <td>@Model.Doctor.FullName</td>
                                    <td>Chuyên Khoa: </td>
                                    <td>@Model.Doctor.SpecialtyField.Name</td>                        
                                </tr>
                                <tr>
                                    <td>Ngày khám: </td>
                                    <td>
                                        <input name="DateCreated" readonly="readonly" class="datepicker form-control required" value="@Model.DateCreated.ToShortDateString()"/>
                                    </td>
                                    <td>Ngày phát bệnh</td>
                                    <td>
                                        <input readonly="readonly" name="OnSetDate" value="@Model.OnSetDate.ToShortDateString()" class="datepicker form-control required" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary saveBtn" style="margin-top: 40px;">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    ViewTreatmentHistoryModal = Backbone.View.extend({
        el: $(".edit-treatment-history-modal"),
        initialize: function () {
        },
        events: {
            "click .slider-img": "showImage",
            "click .btn-prev": "goToPrevious",
            "click .btn-next": "goToNext"
        },
        showImage: function (e) {
            var target = $(e.target);
            $("#modal-popup-img").find(".img-responsive").attr("src", target.attr("src"));
            $("#modal-popup-img").modal("show");
        },
        goToPrevious: function (e) {
            $('.flexslider-film-document').flexslider('prev');
        },
        goToNext: function (e) {
            $('.flexslider-film-document').flexslider('next');
        }
    });
    new ViewTreatmentHistoryModal();

    $('#modal-popup').on('shown.bs.modal', function () {
        $('.flexslider-film-document').flexslider({
            animation: "slide",
            controlNav: false,
            directionNav: false,
            slideshow: false
        });
    });
</script>